@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.mobile-nav {
  position: fixed;
  top: 2rem;
  right: 1.5rem;
  z-index: 10;
}

.hamburger-icon {
  font-size: 2rem;
  cursor: pointer;
}

.close-icon {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  z-index: 100;
}

.mobile-menu {
  background: white;
  width: 250px;
  height: 100%;
  padding: 20px;
  position: relative;
  transform: translateX(100%);

  .right-sidebar {
    display: block;
  }
}

.mobile-menu--open {
  animation: slideIn 0.3s forwards;
}

.mobile-menu--close {
  animation: slideOut 0.3s forwards;
}
