.imageContainer {
    overflow: hidden;
    position: relative;
}

.image {
    width: 100%;
    transform: translateX(-100%);
    transition: transform 1s ease-out;
}

.imageContainer.visible .image {
    transform: translateX(0);
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
