.navigation-item {
  border-bottom: 1px solid var(--color-primary);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 0.75rem 0;
  width: 130px;
}

.navigation-item:last-of-type {
  border-bottom: none;
}

.navigation-item:hover {
  color: brown;
}

.right-sidebar {
  background-color: transparent;
  border-left: 1px solid var(--color-background-base);
  height: 100%;
  padding: 3rem 2rem;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: calc((100vw - var(--content-width)) / 2);
}
