@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.5;
  }

  50% {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0;
  }

  50% {
    opacity: 0;
    scale: 0;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.skill-container {
  height: 50vh;

  .skill {
    align-items: center;
    display: flex;
    font-size: 1.5vw;
    justify-content: center;

    .icon {
      font-size: 4vw;
    }

    .skill-content {
      animation: fadeIn 0.5s forwards;
      opacity: 0;
      text-align: center;

      .skill__description {
        animation: fadeIn 0.5s forwards;
        color: var(--color-secondary);
        font-size: 1vw;
        height: 7.5vw;
        opacity: 0;
      }
    }
  }

  .skill:nth-of-type(1) .skill__description {
    animation-delay: 1.5s;
  }

  .skill:nth-of-type(2) {
    .skill-content {
      animation-delay: 0.5s;
    }

    .skill__description {
      animation-delay: 2s;
    }
  }

  .skill:nth-of-type(3) {
    .skill-content {
      animation-delay: 1s;
    }

    .skill__description {
      animation-delay: 2.5s;
    }
  }
}

@media (max-width: 1023px) {
  .header-container {
    height: 40vh;
  }

  .skill-container .skill {
    font-size: 1.5rem;

    .icon {
      font-size: 4rem;
    }
  }
}
