@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent: brown;
  --color-primary: rgb(26, 49, 66);
  --color-secondary: rgba(26, 49, 66, 0.25);
  --color-important: rgb(210, 191, 183);
  --color-background-base: white;
  --color-background-light: #eee;
  --color-background-primary: lightsteelblue;
  --color-background-important: rgb(255, 242, 232);
  --color-background-accent: linear-gradient(
    0deg,
    var(--color-background-base),
    var(--color-background-primary) 90%
  );
  --color-border: #e0e0e0;

  --content-width: 70vw;
}

/* TODO: implement dark theme */
/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --color-primary: rgb(255, 255, 255);*/
/*  }*/
/*}*/

body {
  background: var(--color-background-base);
  background: var(--color-background-accent);
  color: rgb(var(--color-primary));
  font-family: 'Roboto', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.global-container {
  background: conic-gradient(
      from 77deg at 0% 0%,
      var(--color-background-base) 0%,
      var(--color-background-primary) 6%,
      var(--color-background-base) 80%,
      var(--color-background-base) 10%
    )
    no-repeat;
  background-size: 100vw 100vh;
}

.content {
  margin-left: calc((100vw - var(--content-width)) / 2);
  width: var(--content-width);
}

@media (max-width: 1023px) {
  .content {
    margin-left: 0;
    padding: 0 1rem;
    width: 100%;
  }
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

.header-container {
  display: flex;
  height: 50vh;
  justify-content: center;
  padding-top: 15vh;
}

main {
  margin-bottom: 40px;
}

.text-accent {
  color: var(--color-accent);
}
