@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --background-color-accent: linear-gradient(0deg, white, lightsteelblue 98%);
  --background-color-base: white;

  --content-width: 70vw;

  --color-accent: rgb(210, 191, 183);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: var(--background-color-base);
  background: var(--background-color-accent);
  color: rgb(var(--foreground-rgb));
  font-family: 'Roboto', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.global-container {
  background: conic-gradient(
      from 77deg at 0% 0%,
      white 0%,
      lightsteelblue 6%,
      white 80%,
      white 10%
    )
    no-repeat;
  background-size: 100vw 100vh;
  /*color: rgb(210, 191, 183);*/
}

.content {
  margin-left: calc((100vw - var(--content-width)) / 2);
  width: calc(var(--content-width) - 15px);
}

main {
  margin-bottom: 40px;
}
