@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.5;
  }

  50% {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0;
  }

  50% {
    opacity: 0;
    scale: 0;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.header-container {
  display: flex;
  height: 50vh;
  justify-content: center;
  padding-top: 15vh;
}

.skill-container {
  height: 50vh;

  .skill {
    align-items: center;
    display: flex;
    font-size: 1.5vw;
    justify-content: center;

    .icon {
      font-size: 4vw;
    }

    .skill-content {
      animation: fadeIn 1s forwards;
      opacity: 0;
      text-align: center;
    }
  }

  .skill:nth-of-type(2) .skill-content {
    animation-delay: 1s;
  }

  .skill:nth-of-type(3) .skill-content {
    animation-delay: 2s;
  }
}

@media (max-width: 1023px) {
  .header-container {
    height: 40vh;
  }

  .skill-container .skill {
    font-size: 1.5rem;

    .icon {
      font-size: 4rem;
    }
  }
}
