.footer {
    padding: 2.5rem;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialIcons {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 0.75rem;
}

.icon {
    font-size: 1.5rem;
    transition: color 0.3s;
}
