.navigation-item {
  border-bottom: 1px solid var(--color-primary);
  cursor: pointer;
  display: block;
  font-size: 0.8vw;
  font-weight: bold;
  margin: 0 auto;
  padding: 0.5rem 0;
  width: 8vw;
}

.navigation-item:last-child {
  border-bottom: none;
}

.navigation-item:hover {
  color: var(--color-accent);
}

.right-sidebar {
  background-color: transparent;
  border-left: 1px solid var(--color-background-base);
  height: 100%;
  padding: 3rem 1rem;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: calc((100vw - var(--content-width)) / 2);
}

@media (max-width: 1023px) {
  .right-sidebar {
    display: none;
  }

  .mobile-menu .right-sidebar {
    border: none;
    width: 100%;

    .navigation-item {
      font-size: 0.8rem;
      width: 130px;
    }
  }
}
